<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296659170395-4lttp1i2g6c62f7c5mcsjplsf4ivmd2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296659170395-4lttp1i2g6c62f7c5mcsjplsf4ivmd2v</string>
	<key>API_KEY</key>
	<string>AIzaSyAoqkfZBBKHmtpEZCnIWkWH1yRKeeyTTcw</string>
	<key>GCM_SENDER_ID</key>
	<string>296659170395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nativereference.mobile.developerapp</string>
	<key>PROJECT_ID</key>
	<string>nativereference</string>
	<key>STORAGE_BUCKET</key>
	<string>nativereference.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:296659170395:ios:ee170f32ce46149d22bb7e</string>
	<key>DATABASE_URL</key>
	<string>https://nativereference.firebaseio.com</string>
</dict>
</plist>